body {
	background-color: #000;
	overflow: auto;
	white-space: nowrap;
}
.game {
	position: absolute;
	line-height: 0;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}
.gameObject {
	height: 18px;
	width: 18px;
	display: inline-block;
}
.terrain {
	background-color: #fee75c;
}
.head {
	background-color: #178f3d;
}
.body {
	background-color: #1cad4a;
}
.end {
	background-color: #1cad4a;
}
.apple {
	background-color: #ed4245;
}
